doctype html
html
  head
    title ParraBJJ Schedule
    link(rel='manifest', href='manifest.json')
    link(rel='apple-touch-icon' href='images/icons/icon-512x512.png')
    link(rel='apple-touch-icon' sizes='152x152' href='images/icons/icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='images/icons/icon-180x180.png')
    link(rel='apple-touch-icon' sizes='167x167' href='images/icons/icon-167x167.png')
    link(rel='stylesheet' href='styles.css')
    script.
      function setScheduleDay(dayIndex) {
        var menu = document.getElementsByTagName('nav')[0];
        var tags = menu.getElementsByTagName('a');
        for (var i = 0; i < tags.length; i++) {
          var tag = tags[i];
          var divId = tag.id.replace('-link', '');

          if (tag.id == dayIndex.toLowerCase() + '-link') {
            tag.className = 'active';
            document.getElementsByTagName('h1')[0].innerText = dayIndex;
            document.getElementById(divId).style.display = 'block';
          } else {
            tag.className = '';
            document.getElementById(divId).style.display = 'none';
          }
        }
      }
  body(onload='setScheduleDay(\'' + Object.keys(data)[0] + '\');')
    a(href='/')
      img(src='images/logo-large.png' alt='Parramatta Jiu-Jitsu Academy')
    nav
      each schedule, dayName in data
        a(id=dayName.toLowerCase() + '-link' onclick='setScheduleDay(\'' + dayName + '\');')
          = dayName[0]
    h1
    for schedule, dayName in data
      div(id=dayName.toLowerCase() style='display:none')
        for someClass in schedule
          p
            strong
              small= someClass.instructor_name ? [someClass.start, someClass.end, someClass.instructor_name.split(' ')[0]].join(' - ') : [someClass.start, someClass.end].join(' - ')
            br
            strong
              em= someClass.title
            br
            small= someClass.description || ''
